<form action="{% url 'create_post' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    <label for="category">Category</label>
    <select name="category" id="category">
        {% for category in categories %}
            
                <option value="{{ category.id }}">{{ category.name }}</option>
            
        {% endfor %}
    <option value="new">Add new category...</option>
    </select>

    <input type="text" name="new_category" id="new_category" style="display:none;" placeholder="Enter new category" />
    <button type="submit">Post</button>
</form>

{% if messages %}
            {% for message in messages %}
            <li class="post"> {{message}} </li>
            {% endfor %}
{% endif %}

<script>
    document.getElementById('category').addEventListener('change', function () {
      if (this.value === 'new') {
        document.getElementById('new_category').style.display = 'block';
      } else {
        document.getElementById('new_category').style.display = 'none';
      }
    });
  </script>